<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        All Categories
    </button>
    <button type="button" class="list-group-item list-group-item-action">Breads</button>
    <button type="button" class="list-group-item list-group-item-action">Dairy</button>
    <button type="button" class="list-group-item list-group-item-action">Fruits</button>
    <button type="button" class="list-group-item list-group-item-action">Spices</button>
    <button type="button" class="list-group-item list-group-item-action">Vegitables</button>
</div>